<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>HOME</title>
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Audiowide|Sofia" />
  <link rel="stylesheet" href="../style/index.css" />
  <link rel="apple-touch-icon" sizes="180x180" href="../images/favicon/apple-touch-icon.png" />
  <link rel="icon" type="image/png" sizes="32x32" href="../images/favicon/favicon-32x32.png" />
  <link rel="icon" type="image/png" sizes="16x16" href="../images/favicon/favicon-16x16.png" />
  <link rel="manifest" href="../images/favicon/site.webmanifest" />
  <meta name="msapplication-config" content="../images/favicon/browserconfig.xml" />
  <meta name="msapplication-TileColor" content="000000" />
  <meta name="theme-color" content="000000" />
  <script type="text/javascript"
    src="//translate.google.com/translate_a/element.js?cb=googleTranslateElementInit"></script>
  <script>
    function googleTranslateElementInit() {
      new google.translate.TranslateElement(
        {
          pageLanguage: "en",
          layout: google.translate.TranslateElement.InlineLayout.SIMPLE,
        },
        "google_translate_element"
      );
    }
    function changeLanguage() {
      var select = document.getElementById("language-select");
      var selectedLanguage = select.options[select.selectedIndex].value;
      googleTranslateElementInit();
      translateElementById("navbar", selectedLanguage);
      translateElementById("c", selectedLanguage);
    }
    function translateElementById(elementId, language) {
      var element = document.getElementById(elementId);
      var originalText = element.innerText;
      var googleTranslate = new google.translate.TranslateService();
      googleTranslate.translate(
        originalText,
        "en",
        language,
        function (translatedText) {
          element.innerText = translatedText;
        }
      );
    }
  </script>
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
</head>
</head>

<body>
  <nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">
        <img src="/images/logo.jpg" alt="Logo" style="width: 20%; height: auto; object-fit: co">
      </a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">Home</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="#" onclick="register()">Ludo</a>
          </li>

          <li class="nav-item">
            <a class="nav-link" href="about">ABOUT</a>
          </li>

          <li class="nav-item">
            <a class="nav-link">Your Current Tokens are:- 70 <span id="tkIndicator" style="color: white"></span> 🪙
            </a>
          </li>

          <li class="nav-item">
            <a class="nav-link" id="google_translate_element" id="c"></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- <div class="navBar" style="display: flex; justify-content: space-between">
    <a href="">HOME</a>
    <a onclick="register()">LUDO</a>
    <a href="about">ABOUT</a>
    <p style="color: white">
      Your Current Tokens are:-
      <span id="tkIndicator" style="color: white"></span> 🪙
    </p>
    <div id="google_translate_element" id="c"></div>
  </div> -->

  <div id="myModal" class="modal">
    <div class="modal-content">
      <span class="close">&times;</span>
      <form autocomplete="off" name="TheForm" style="position: relative; top: 0px" action="/" method="POST">
        <label for="JOIN">JOIN</label>
        <input type="radio" name="action_to_do" id="JOIN" value="join" required="required" onclick="ShowHideDiv()" />
        <label for="CREATE">CREATE</label>
        <input type="radio" name="action_to_do" id="CREATE" value="create" required="required"
          onclick="ShowHideDiv()" />

        <br />
        <div id="room_code" style="display: none">
          <label for="joinroom">Your secret Room code</label>
          <input type="text" name="roomcode" id="roomcodeID" size="6" pattern="[A-Za-z0-9]{6}"
            title="Six letter room code" />
        </div>
        <!-- <button type="submit" id="start" class="btn btn-light">PLAY</button> -->
        <button type="submit" class="btn btn-light" style="border: none; outline: none; width: 12%;
        height: 50px;
        font-size: 21px;">PLAY</button>
      </form>
    </div>
  </div>

  <div class="card">
    <div class="heading">
      <h2>MCQ Ludo Game</h2>
    </div>
    <div class="content">
      <p>
        This is a project based on Node.js and socket.io. It is a 4 player (4
        is maximum) game, that basically everyone knows. Making this gives a
        good hold over the technoligies or framework used also this an
        educational based ludo game.
      </p>
    </div>
    <div class="playButton">
      <button type="button" id="start" onclick="register()">PLAY</button>
    </div>
  </div>
  <script src="../js/index.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>

</html>